nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.logoheader {
    height: 40px;
}

.heading{
    font-size: 13px;
    text-decoration: none;
    color: #666CFF;
}

.links{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.addGuide{ 
    font-size: 13px;
    text-decoration: none;

    padding: 5px 20px;
    background-color: #666CFF;
    color: white;
    font-weight: bold;
    border-radius: 50px;
}