@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700');

.Howto{ 
    height: 200px;
    border-radius: 0;
    width: 31%;
    margin: 10px;
    box-shadow: 0px 0px 10px rgb(230, 228, 228);
    overflow-y: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* .Howto:nth-child(odd){
    width: 25%;
} */

.Howto:first-child{
    width: 100%;
    height: 400px;
}
/* .Howto:nth-child(even){
    width: 34%;
} */

.information{
    z-index: 5;
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: left;
    padding-top: 50px;
    background: linear-gradient(to top, rgba(255,255,255,1) 30%,rgba(255,255,255,0) 100%);
    color: black;
}

.medicinePills{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.pill{
    margin: 10px 10px;
    font-size: 12px;
    background-color: #FFAE66;
    padding: 5px 10px;
    border-radius: 100px;
    color: white;
}

.cover { 
    width: 100%;
    height: auto;
    z-index: -1;
    position: absolute;
}

.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.heart-icon{
    height: 20px;
}

.title{
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 26px;
}

.secondary-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 30px;
}